{
    "all": true,
    "check-coverage": true,
    "branches": 100,
    "lines": 100,
    "functions": 100,
    "statements": 100,
    "reporter": [
      "text",
      "text-summary"
    ],
    "include": [
      "**/*.js"
    ],
    "exclude": [
      "**/node_modules/**",
      "**/tests/**",
      "**/coverage/**"
    ]
}